html,
body {
  height: 100%;
  width: 100%;
}

.btn{
  border: 1px solid lightgrey;
  background-color: #fff;
}

#thermostat-container{
  border-style: solid; 
  border-width: 20px;
  border-color: aqua;
  padding: 15px;
  height: 100%;
}

#up-button,
#down-button{
  font-size: 7rem;
}

#temperature{
  font-size: 16rem;
}


@media(max-width: 767.98px) {
  #temperature {
    font-size: 8rem;
  }

  #up-button,
  #down-button {
    font-size: 3rem;
  }
}