html,
body {
  height: 100%;
  width: 100%;
}

.btn{
  background-color: #fff;
}

.ps,
.reset{
  border-color: black;
}

#thermostat-container{
  border-style: solid; 
  border-width: 20px;
  border-color: aqua;
  padding: 20px;
  height: 100%;
}

#digital-display{
  margin-top: 40%;
}

#up-button,
#down-button{
  font-size: 4rem;
}

#temperature{
  font-size: 6rem;
}

#power-saving{
  margin-top: 10px;
  width: 55%;
}

#energy-usage{
  margin-top: 10px;
}
#reset-button{
  width: 55%;
}